.card_job {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgb(241, 241, 241);
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 2px -3px 30px rgb(242, 242, 244);
  width: 512px;
}

