.home-bg {
  background-color: #f8f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  min-width: 1280px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}