.jobs-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.job-card {
  display: flex;
  background-color: rgb(247, 223, 209);
  border: 1px solid rgb(214, 157, 129);
  border-radius: 8px;
  padding: 4px;
  gap: 10px;
  align-items: center;
}

.job-card:hover {
  background-color: rgb(255, 199, 184);
  cursor: pointer;
}

.job-card img {
  border-radius: 50%;
  border: 2px solid rgb(163, 86, 47);
}

.job-title {
  font-weight: 500;
  font-size: small;
  color: rgb(183, 61, 5);
}

.company-name {
  border: 1px solid rgb(255, 119, 0);
  border-radius: 2rem;
  background-color: antiquewhite;
  font-weight: 300;
  font-size: x-small;
  width: max-content;
  float: inline-start;
  padding: 3px 8px;
  text-align: center;
}

.salary {
  border: 1px solid rgb(255, 203, 60);
  border-radius: 2rem;
  background-color: rgb(198, 60, 0);
  font-weight: 400;
  font-size: x-small;
  width: max-content;
  padding: 3px 8px;
  color: white;
  text-align: center;
}

.location {
  border: 1px solid rgb(173, 129, 10);
  border-radius: 2rem;
  background-color: rgb(255, 184, 154);
  font-weight: 300;
  font-size: x-small;
  width: max-content;
  padding: 3px 8px;
  color: rgb(112, 72, 1);
  text-align: center;
}

.l {
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
}

.job-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.nav-btns {
  background-color: rgb(183, 61, 5);
  border-radius: 0.2rem;
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: small;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-btns button {
  display: inherit;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  color: wheat;
  background-color: rgb(183, 61, 5);
}