.alert_wrapper {
  position: absolute;
  z-index: 100;
  top: 2rem;
  display: flex;
  justify-content: center;
}

.alert_content {
  position: relative;
  background-color: rgb(86, 67, 44);
  color: white;
  width: 250px;
  padding: 2px;
  border-bottom: 0.3rem solid grey;
  text-align: center;
}

.alert_content::after {
  content: "";
  position: absolute;
  background-color: black;
  bottom: -0.3rem;
  left: 0px;
  height: 0.3rem;
  animation: progress 5s linear;
}

@keyframes progress {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}