.userProfile {
  background-color: rgb(255, 248, 245);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  max-width: 30rem;
  gap: 0.6rem;
  border-radius: 12px;
  background-color: white;
  padding: 12px;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(212, 143, 116, 0.747);
}

#cfile {
  display: none;
}

label[for=cfile] span:nth-child(1) {
  background-color: rgb(255, 233, 225);
  border-radius: 2rem 0 0 2rem;
  margin-right: 8px;
  color: rgb(255, 68, 0);
  font-weight: 400;
  font-size: small;
  padding: 10px 0;
  flex: 2;
  text-align: center;
  text-overflow: ellipsis;
}

label[for=cfile] {
  background-color: rgb(255, 68, 0);
  border-radius: 2rem;
  color: white;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  width: 10rem;
  cursor: pointer;
}

label[for=cfile]>svg {
  margin-right: 10px;
}

label {
  font-weight: 600;
  font-size: small;
  color: rgb(253, 124, 78);
}

label span {
  color: rgb(231, 63, 2);
}

input {
  outline: none;
  border: 2px solid rgb(255, 227, 219);
  padding: 10px 14px;
  border-radius: 4px;
  color: rgb(255, 154, 99);
  font-weight: 300;
  font-size: small;
}

label[for=cfile]>span:nth-child(2) {
  margin-right: 6px;
  background: none;
  padding: 10px;
  border-right: 4px solid white;
  border-left: 4px solid white;
  border-top: 4px solid white;
  border-bottom: 4px solid rgba(255, 255, 255, 0.226);
  border-radius: 50%;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width:650px) {
  .userContainer {
    width: 90%;
  }
}