.search-container {
  padding-top: 2rem;
  background-color: #FCF6F5;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  width: 100vw;
}

.search-container h1 {
  width: 80%;
  font-size: x-large;
  color: #c11e02;
  text-align: center;
}

.search-container p {
  width: 80%;
  font-size: small;
  color: #ff401e;
  text-align: center;
}

.search-box {
  padding: 2px 0px;
  display: flex;
  border: 2px solid #fead9e;
  border-radius: 12px;
  width: 90%;
  max-width: 40rem;
  background-color: #ffffff;
}

.search-box input {
  flex: 1;
  outline: none;
  border: none;
  height: 2.5rem;
  width: inherit;
  font-weight: 400;
  background-color: white;
}


.search-box button {
  
  border: none;
  background: none;
  padding: 0.2rem 1rem;
}

.tags-box {
  width: 100%;
  max-width: 40rem;
  margin-bottom: 3rem;
  margin-left: -1rem;
}

.tags-box ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tags-box ul li {
  padding: 4px 8px;
  border: 1px solid #c4857a;
  background-color: #faebe9;
  color: rgb(212, 86, 36);
  border-radius: 2rem;
  font-weight: 300;
  font-size: small;
  cursor: pointer;
}