.job-apply-container
{
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: white;
}

.job-apply-div {
  display: grid;
  gap: 12px;
  padding: 12px;
  background-color: white;
}

.job-apply-div h1,h2,h3,h4,h5,h6{
  color: rgb(53, 53, 53);
}

.job-apply-div ul,ol {
  font-weight: 600;
  font-size: small;
  color: rgb(98, 86, 77);
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
}
.job-apply-div ul li strong,ol li strong{
  background-color: rgb(254, 220, 188);
  padding: 4px 10px;
  border-radius: 12px;
}

.job-apply-div p {
  color: rgb(32, 32, 32);
  font-weight: 400;
  font-size: small;
}

.job-apply-div a {
  color: #06c;
  font-style: italic;
  text-decoration: underline;
}

.job-apply-div .h3 {
  background-color: rgb(252, 250, 240);
  padding: 4px 10px;
  border-radius: 12px;
}


.company-details {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100vh;
  background-color: rgba(252, 234, 233, 0.28);
  padding: 2.4rem 1.3rem;
}

.company-details>p:nth-child(1) {
  color: rgb(195, 52, 0);
  font-weight: 500;
  font-size: 16px;
}

.company-details>p:nth-child(2) {
  color: rgb(255, 94, 35);
  font-weight: 300;
  font-size: small;
}

.company-details>p:nth-child(3) {
  color: rgb(169, 119, 100);
  font-weight: 400;
  font-size: small;
  margin-top: -0.6rem;
}
.company-details>p:nth-child(4) {
  color: rgb(255, 94, 35);
  font-weight: 300;
  font-size: small;
}

.company-details>p:nth-child(5) {
  color: rgb(169, 119, 100);
  font-weight: 400;
  font-size: small;
  margin-top: -0.6rem;
}
.company-details>p:nth-child(6) {
  color: rgb(255, 94, 35);
  font-weight: 300;
  font-size: small;
}

.company-details>p:nth-child(7) {
  color: rgb(169, 119, 100);
  font-weight: 400;
  font-size: small;
  margin-top: -0.6rem;
}

.company-details>div {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.company-details>div>a:nth-child(1) {
  padding: 0.4rem 1.4rem;
  border-radius: 4px;
  font-weight: 400;
  transition: background-color 150ms ease-in-out;
  background-color: rgb(255, 51, 0);
  border: 1px solid rgb(255, 68, 0);
  color: white;
}
.company-details>div>a:nth-child(2) {
  padding: 0.4rem 1.4rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 95, 95);
  color: rgb(49, 49, 49);
  border-radius: 4px;
  font-weight: 400;
}

.company-details>div>a:nth-child(1):hover {
  background-color: rgb(255, 239, 235);
  border: 1px solid rgb(255, 157, 122);
  color: rgb(49, 49, 49);
}

@media screen and (max-width:600px) {
  .job-apply-container {
    grid-template-columns: none;
    grid-template-rows: 2fr auto;
  }
  .company-details {
    height: fit-content;
  }
}