.checkCircle {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid rgb(201, 201, 201);
}

.error {
  display: none;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  font-size: x-small;
}

input:invalid + .error {
  display: block;
  color: red;
}

